function initMap() {
  var mapDiv = document.getElementById('map');
  var map = new google.maps.Map(mapDiv, {
    center: {lat: <%= @center_lat %>, lng: <%= @center_long %>},
    zoom: 13
  });

  <%  @response.businesses.each do |business|   %>
  var marker = new google.maps.Marker({
    position: {lat: <%= business.location.coordinate.latitude %>, lng: <%= business.location.coordinate.longitude %>},
    map: map,
    title: "<%= business.name %>",
    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
  });
  <% end %>











<div class="container">
  <div class="row title">
    <div class="col-xs-12"><h2>Trip details</h2></div>

  </div>
  <div class="row criteria">
    <div class="col-xs-12"><dt>Starting Location</dt>
      <dd><%= @start_add  %></dd>
      <br>
      <dt>Ending Location</dt>
      <dd><%= @end_add %></dd>
      <br></div>
    </div>
    <div class="result title row">
      <div class="col-xs-12"><h2>Here are the top rated <%= @term %> options on your way:</h2></div>

    </div>
    <div class="row results map">
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Yelp Rating</th>
            <th>
              Address
            </th>
          </tr>
          <tr>


            <% @response.businesses.each do |business| %>

            <td><img src="<%= business.image_url %>">  </td>
            <td><a href="<%= business.url %>"><%= business.name %></a></td>
            <td><img src="<%= business.rating_img_url %>"></td>
            <td>
              <% business.location.display_address.each do |address|%>
              <%= address %>
              <% end  %>
            </td>

          </tr>
          <% end %>
        </table>



      </div>
<!--
      <div class="col-md-6">  <div style="text-decoration:none; overflow:hidden; height:500px; width:1000px; max-width:100%;"><div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=<%= @start_address %>
      &destination=<%= @end_address %>
      &key=AIzaSyBqorduvzpO1mRWJaC_tBowmmsLojlqt_8"></iframe></div></div>
    </div> -->
    <!-- <div class="col-md-6">  <div style="text-decoration:none; overflow:hidden; height:500px; width:1000px; max-width:100%;"><div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=<%= @start_address %>
    &destination=<%= @end_address %>
    &waypoints=<%=  %>
    &key=AIzaSyBqorduvzpO1mRWJaC_tBowmmsLojlqt_8"></iframe></div></div>
  </div> -->


  <div style="text-decoration:none; overflow:hidden; height:500px; width:1000px; max-width:100%;"><div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=<%= @start_address %>
  &destination=<%= @end_address %>

  &waypoints=  <%  @response.businesses.each do |business|   %>
      <% business.location.display_address.each do |address|%>
      <%= address %>|
      <% end %>
      <% end %>
  &key=AIzaSyBqorduvzpO1mRWJaC_tBowmmsLojlqt_8"></iframe></div>





  <style>
  #map {
    width: 600px;
    height: 500px;
  }
  </style>

  <div id="map"></div>
  <script>

  function initMap() {
    // initiate a new map
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
    center: {lat: <%= @center_lat %>, lng: <%= @center_long %>},
    zoom: 12
    });



    <%  @response.businesses.each do |business|   %>
    // Make info window for this business
    var infowindow_<%= escape_javascript(business.id) %> = new google.maps.InfoWindow({
      content: "<b><%= escape_javascript(business.name) %></b>"  +

      "<li> <% business.location.display_address.each do |address|%>
      <%= escape_javascript(address) %>
      <% end  %>

      </li>" +
      "<li><%= escape_javascript(business.snippet_text) %></li>"
    });
    // Make marker for this business
    var marker_<%= escape_javascript(business.id) %> = new google.maps.Marker({
      position: {lat: <%= escape_javascript(business.location.coordinate.latitude.to_s) %>, lng: <%= escape_javascript(business.location.coordinate.longitude.to_s) %>},
      map: map,
      title: "<%= escape_javascript(business.name) %>",
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
    });
    // Click to show info window
    marker_<%= escape_javascript(business.id) %>.addListener('click', function() {
      infowindow_<%= escape_javascript(business.id) %>.open(map, marker_<%= escape_javascript(business.id) %>);
    });

    // Add this marker in map bounds
    bounds.extend(new google.maps.LatLng(<%= escape_javascript(business.location.coordinate.latitude.to_s )%>, <%= escape_javascript(business.location.coordinate.longitude.to_s) %>));
    <% end %>
    // Size map to fit bounds
    map.fitBounds(bounds);
  };
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
  async defer></script>

  <style>
  #map {
  width: 500px;
  height: 400px;
}
</style>
</head>
<body>
<div id="map"></div>
<script>
function initMap() {
var mapDiv = document.getElementById('map');
var map = new google.maps.Map(mapDiv, {
center: {lat: <%= @center_lat %>, lng: <%= @center_long %>},
zoom: 8
});


var infowindow = new google.maps.InfoWindow({
content: "Click Content"
});

<%  @response.businesses.each do |business|   %>
var marker_<%= business.id %> = new google.maps.Marker({
  position: {lat: <%= business.location.coordinate.latitude %>, lng: <%= business.location.coordinate.longitude %>},
  map: map,
  title: "<%= business.name %>",
  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
});
<% end %>

marker.addListener('click', function() {
infowindow.open(map, marker);
});

};

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqorduvzpO1mRWJaC_tBowmmsLojlqt_8&callback=initMap" async defer></script>*/

<div class="search_again">
  <div class="col-xs-12">
    <h2>Search Again</h2>
    <form action="/street_to_coords">
      <div class="form-group">
        <label for="start_address">Starting Address</label>
        <input type="text" class="form-control" name="start_address" id="start_address" value="<%= @start_add %>">
      </div>
      <div class="form-group">
        <label for="end_address">Ending Address</label>

        <input type="text" class="form-control" name="end_address" id="end_address" value="<%= @end_add %>">
      </div>

      <h2>What are you looking for on the way?</h2>
      <div class="form-group">
        <label for="term">Search for</label>
        <input type="text" class="form-control" name="term" id="term" value="<%= @term.capitalize %>">
      </div>
      <div class="form-group">
        <label for="sort_method">
          Sort by
        </label>
        <%= select_tag :sort_method, options_for_select([["Best matched",0], ["Distance",1], ["Highest Rated",2]]), :class => "form-control"  %>
      </div>
      <button class="btn btn-success">Route me!</button>
    </form></div>
  </div>
  <div class="footer">
    <div class="col-xs-12"><h2>footer</h2>
    </div>
  </div>
